services:
    backend:
        # SOP: Image Tag harus spesifik (Git Commit SHA), diambil dari .env
        image: ghcr.io/esareynor/ffws-jatim-backend:${BACKEND_IMAGE_TAG}
        container_name: ffws-backend
        restart: unless-stopped

        # Load Environment Variables
        env_file:
            - .env

        volumes:
            - ./backend-storage:/var/www/storage

        networks:
            - public_net

    backend-web:
        image: nginx:alpine
        container_name: ffws-backend-web
        restart: unless-stopped

        ports:
            - "3001:80"

        volumes:
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./backend-storage:/var/www/public/storage

        depends_on:
            - backend

        networks:
            - public_net

    frontend:
        # SOP: Image Tag harus spesifik (Git Commit SHA), diambil dari .env
        image: ghcr.io/esareynor/ffws-jatim-frontend:${FRONTEND_IMAGE_TAG}
        container_name: ffws-frontend
        restart: unless-stopped

        # Load Environment Variables
        env_file:
            - .env

        ports:
            - "3000:80"

        volumes:
            # User must create this file on server
            # This injects the proxy config into the frontend container
            - ./nginx-frontend/default.conf:/etc/nginx/conf.d/default.conf

        networks:
            - public_net

networks:
    public_net:
        external: true
