services:
    backend:
        # SOP: Image Tag harus spesifik (Git Commit SHA), diambil dari .env
        image: ghcr.io/esareynor/ffws-jatim-backend:${BACKEND_IMAGE_TAG}
        container_name: ffws-backend
        restart: unless-stopped

        # Load Environment Variables
        env_file:
            - .env

        ports:
            - "9000:9000"

        volumes:
            - ./backend-storage:/var/www/storage

        networks:
            - public_net

    frontend:
        # SOP: Image Tag harus spesifik (Git Commit SHA), diambil dari .env
        image: ghcr.io/esareynor/ffws-jatim-frontend:${FRONTEND_IMAGE_TAG}
        container_name: ffws-frontend
        restart: unless-stopped

        # Load Environment Variables
        env_file:
            - .env

        ports:
            - "80:80"

        networks:
            - public_net

networks:
    public_net:
        external: true
